.background{
	background: url(picture/background.png);
}

.backfon{
	background: url(picture/backfon.png);
}

.center {
	text-align: center;
}

table{
	text-align:center;
	margin-left:auto; 
	margin-right:auto; 
}

